<div class="row">
    <div class="col-md-6">
        <div class="section">
          <div>
            <h1>Tabs Directives</h1>
            <p>
              Using three interweaving directives to create tab functionality.
            </p>
              <tab-directives></tab-directives>
          </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="section">
          <div>
            <h1>Collapsible Directives</h1>
            <p>
              One reusable directive for collapsible behavior.
            </p>
              <app-collapsible></app-collapsible>
          </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="section">
          <div>
            <h1>Two Way Data Binding</h1>
            <p>
              Using three interweaving directives to create tab functionality.
            </p>
              <app-two-way></app-two-way>
          </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="section">
          <div>
            <h1>Pipes</h1>
            <p>
              Pipes Behavior.
            </p>
              <app-pipes></app-pipes>
          </div>

        </div>
    </div>
</div>
