
<div class="" showOneContainer>
  <ul class="nav nav-tabs" >
    <li  showOneTrigger="sets" [active]="true">SETS</li>
    <li showOneTrigger="wizecks">Wizecks</li>
    <li showOneTrigger="pizone">Pizone</li>
  </ul>
  <div class="tab-panel" showOne="sets" [active]="true">
    <div class="logo sex">
      SETS
    </div>
  </div>
  <div class="tab-panel" showOne="wizecks">
    <div class="logo wizecks">
      WIZECKS
    </div>
  </div>
  <div class="tab-panel" showOne="pizone">
    <div class="logo pizone">
      PIZONE
    </div>
  </div>

</div>
