
.nav-tabs>li :hover {
    border-color: #ecf0f1 #ecf0f1 #ecf0f1;
}
.nav>li :hover, .nav>li :focus {
    text-decoration: none;
    background-color: #ecf0f1;
}
.nav-tabs>li  {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li  {
    position: relative;
    display: block;
    padding: 10px 15px;
}
li:hover, li:focus {
    color: #18bc9c;
    text-decoration: underline;
}
li:active, li:hover {
    outline: 0;
}
li {
    color: #18bc9c;
    text-decoration: none;
}
li {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
li{
  cursor:pointer;
}
