<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Employees</h2>
      <p>
        Information about employees will be displayed here.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-group">
        <label for="employee-search">Employee Directory Search</label>
        <input #searchBox class="form-control"type="text" name="employee-search" value="" placeholder="Enter Employee Search Info"  (keyup)="searchEmployees(searchBox.value)">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <h3>Results</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let employee of employees">
      {{employee.nameFirst}}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Add employees</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-group" >
        <input type="text" name="nameFirst" value="" [(ngModel)]="newEmployee.nameFirst" (keyup.enter)="addEmployee()">
        <button (click)="addEmployee()">Add</button>
      </form>
    </div>
  </div>
</div>
